.gridContainer {
	padding: 1rem;
}
.grid {
	user-select: none;
	min-width: var(--grid-size);
	min-height: var(--grid-size);
	margin-right: -2px;
	margin-bottom: -2px;

	&:hover {
		background-color: #a8a8a8;
	}
}

.gridLeftWall {
	border-left: 2px solid;
}
.gridTopWall {
	border-top: 2px solid;
}
.gridRightWall {
	border-right: 2px solid;
}
.gridBottomWall {
	border-bottom: 2px solid;
}

.grid.gridClicked {
	transition: 0.1s ease-in-out;
}
.grid.gridObstacle {
	background-color: rgb(var(--foreground-rgb));
}
.grid.gridStart {
	background-color: var(--grid-start-color);
}

.grid.gridEnd {
	background-color: var(--grid-end-color);
}
